<h1>Socio / <%= title %></h1>

<section id="post-list-container">
    <%- include('_post', {posts: posts}); -%>
</section>

<% if(locals.user) {%>
<section id="feed-posts">
    <h3>Posts</h3>
    <form action="/post/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="4" placeholder="type here..." required></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<% } %>

<section id="user-friends">
    <h3>Friends</h3>
    <% for(let i of all_users) { %>
        <p>
            <a href="/user/profile/<%= i.id %>"> <%= i.username %></a>
        </p>
    <% } %>
</section>

<script src="/js/home_post.js"></script>