<h1>Socio / <%= title %></h1>

<% for(let post of  posts) { %>
    <li>
        <%= post.content %> 
        <%= post.user.username %> 
    </li>
<% } %>

<% if(locals.user) {%>
<section id="feed-posts">
    <h3>Posts</h3>
    <form action="/post/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="4" placeholder="type here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<% } %>