<h1>Socio / <%= title %></h1>

<%- include('_post', {posts: posts}); -%>

<% if(locals.user) {%>
<section id="feed-posts">
    <h3>Posts</h3>
    <form action="/post/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="4" placeholder="type here..." required></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<% } %>